<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="node_modules/angular/angular.js"></script>
    <style>
    .loading-overlay {
        position: fixed;
        z-index:19999;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.4;
    }

    .loading {
        z-index:20000;
        position: fixed;
        width: 50%;
        top: 50%;
        left: 50%;
        margin-left : -62px;
        margin-top : -62px;
    }
    </style>
</head>
<body ng-app="beatdevApp" ng-controller="UserController">
<div class="container">
    <div class="row row-content">
        <p style="padding: 15px"></p>
        <div class="col-xs-3">
            <form ng-submit="add()">
                <p><label for="name">Name :</label>
                    <input id="name" type="text" class="form-control" ng-model="newUser.name"></p>
                <p><label for="email">Email :</label>
                    <input id="email" type="email" class="form-control" ng-model="newUser.email"></p>
                <p><label for="image">Image url :</label>
                    <input id="image" type="url" class="form-control" ng-model="newUser.image"></p>
                <p><input type="submit" class="form-control btn btn-primary" value="Add request"></p>
            </form>
            <p ng-if="newUserId">ID : {{newUserId}}</p>
        </div>
        <div class="col-xs-3">
            <p style="padding: 64px;"></p>
            <form ng-submit="getUserInfo()">
                <p><label for="findId">Id :</label>
                    <input id="findId" type="text" class="form-control" ng-model="findUserId"></p>
                <p><input type="submit" class="form-control btn btn-primary" value="Get User info"></p>
            </form>
            <p ng-if="findUserInfo.id">ID : {{findUserInfo.id}}</p>
            <p ng-if="findUserInfo.name">Name : {{findUserInfo.name}}</p>
            <p ng-if="findUserInfo.email">Email : {{findUserInfo.email}}</p>
            <p ng-if="findUserInfo.status">Status : {{findUserInfo.status}}</p>
            <p ng-if="findUserInfo.image">Image : <img src="{{findUserInfo.image}}" width="270" height="200"></p>
        </div>
        <div class="col-xs-3">
            <p style="padding: 29px;"></p>
            <form ng-submit="changeUserStatus()">
                <p><label for="changeStatusId">Id :</label>
                    <input id="changeStatusId" type="text" class="form-control" ng-model="changeUserStatusId"></p>
                <p><label for="changeStatus">Status :</label>
                    <input id="changeStatus" type="text" class="form-control" ng-model="newStatus"></p>
                <p><input type="submit" class="form-control btn btn-primary" value="Change User Status"></p>
            </form>
            <p ng-if="changedStatusInfo.id">ID : {{changedStatusInfo.id}}</p>
            <p ng-if="changedStatusInfo.newStatus">New Status : {{changedStatusInfo.newStatus}}</p>
            <p ng-if="changedStatusInfo.oldStatus">Old Status : {{changedStatusInfo.oldStatus}}</p>
        </div>
    </div>
</div>
<loading ng-show="loading"></loading>
</body>
<script src="scripts/angular.js"></script>
</html>